@media screen and (max-width: 1399px) {}

@media screen and (max-width: 1199px) {
    .nav-link {
        color: white !important;
        font-weight: 500;
        font-size: 18px;
    }

    .typing-text {
        font-size: 40px !important;
    }

    .banner-content {

        max-width: 990px;

        margin: 0 auto;
    }
}

@media screen and (max-width: 1024px) {
    .fullscreen-banner {
        height: auto;
        min-height: 480px;
    }

    .typing-text {
        font-size: 27px !important;
    }

    .banner-content p {
        font-size: 16px;
    }

    .accordion-section>.container {

        /* min-height: 470px; */

    }

    .keno-tips-section {
        padding: 3rem 0 3rem;
    }

    .review-section {
        padding: 50px 0 50px;
    }

    .section-heading {

        margin: 10px 0 1rem;

    }

    .keno-section {

        padding: 50px 0;

    }

    .keno-how-section {

        padding: 50px 0;

    }

    .contact-section {
        padding: 50px 0;
    }

    .keno-section {
        padding: 30px 0;
    }

    .temp-font-size {
        font-size: 22px !important;
    }

    .lizard-section .accordion-button {
        font-size: 18px;
    }

    .lizard-section {
        padding: 40px 0;
        /* min-height: 710px; */
        /* border-radius: 40px 40px 0 0; */
    }
}

@media screen and (max-width: 991px) {
    .navigation-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 50px;
        background-color: #04173b;
        transform: translateX(100%);
        transition: all 0.3s linear;
        z-index: 100;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    .menuToggle .navigation-menu {
        transform: translateX(0);
        justify-content: flex-start;
    }

    .navigation-menu ul {
        flex-direction: column;

    }

    .menu-toggle-btn {
        display: block;
    }

    .menu-close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        text-align: end;
        z-index: 55;
        font-size: 21px;
        height: 1.5rem;
        width: 1.5rem;
    }

    .sticky-header.fixed_header .navigation-menu ul li a {
        color: #fff;
    }

    .sticky-header.fixed_header .navigation-menu ul li a::after {
        background-color: #fff;
    }


    .typing-text {
        font-size: 29px !important;
    }

    .banner-content p {}

    .fullscreen-banner {
        height: 430px;
    }

    .section-heading {

        margin: 10px 0 1rem;

    }

    .why-lucky-section {
        padding: 40px 0;

    }

    .keno-how-section {

        padding: 50px 0;

    }

    .keno-row-class {
        padding-bottom: 20px;
    }
    .header-actions {
       
        gap: 20px;
        justify-content: center;
        flex-direction: column;
        margin-top: 10px;
    }
    header .butn {
       
        font-size: 16px;
        
        padding: 13px 25px;
        
    }
    .butn {
       
        margin-left: 0px;
    }


}

@media (max-width: 767px) {
    #menuToggle {
        display: inline-block;
    }

    .desktop-menu {
        display: none !important;
    }

    #sidebar {

        display: block;
    }

    .logo {
        /* width: 100%; */
        max-width: 194px;
        /* height: 100%; */
        /* min-height: 68px; */
    }

    .fullscreen-banner {
        height: 400px;
    }

    .typing-text {
        font-size: 22px !important;
    }

    .banner-content p {
        font-size: 15px;
        letter-spacing: 0;
    }

    .typing-text {

        white-space: wrap;

    }

    .typing-text {

        white-space: wrap;
        animation: none;
        border-right: none !important;

    }

    .review-section {
        padding: 0px 0 50px;
    }

    .keno-tips-heading {
        font-size: 28px;

    }

    .footer_logo {

        width: 236px;
    }

    .ssl-certi-inner {
        height: 3rem;
        width: 150px;

    }

    .review-card {

        max-width: 565px;

    }

    .tip-card {
        padding: 1.5rem 1rem;
    }

    .tip-image {}

    .tip-title {
        font-size: 1.15rem;
    }

    .tip-text {
        font-size: 0.9rem;
    }

    /* Inner page banner styling */
    .inner-banner {
        position: relative;
        width: 100%;
        height: 50vh;
        /* shorter than homepage */
        background: url('../images/about_banner.jpg') center center/cover no-repeat;
        color: #fff;
        text-align: center;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .inner-banner::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        /* slightly lighter overlay */
        z-index: 1;
    }

    .inner-banner .banner-content {
        position: relative;
        z-index: 2;
        max-width: 960px;
        padding: 0 15px;
        /* Bootstrap padding */
    }

    .inner-banner .banner-title {
        font-size: 2.5rem;
        font-weight: 700;
    }

    .inner-banner .banner-subtitle {
        font-size: 1.2rem;
        margin-top: 15px;
    }

    .innerpage-title {
        font-size: 2rem;
    }

    .innerpage-subtitle {
        font-size: 1rem;
    }

    .innerpage-title {
        font-size: 28px;
    }

    .keno-section {

        padding-top: 50px;
    }

    .keno-tips-section {
        padding: 30px 0;
    }

    .keno-how-heading {
        font-size: 22px;
    }

    .role-card {
        padding: 28px 18px;
    }

    .role-accent {
        width: 48px;
    }

    .section-heading {
        margin: 10px 0 1rem;
        font-size: 22px;
    }

    .why-lucky-heading {

        font-size: 24px;

    }

    .join-community-modern .community-heading {
        color: #fff;
        font-weight: 600;
        font-size: 24px;
    }

    .disclaimer_txt h3 {
        font-size: 24px;

    }

    .follow_heading {
        font-size: 22px;
    }

    .banner-content {

        padding-top: 50px;
    }

    .footer-pages-wrap p {
        text-align: left;
    }

    .nem {
        padding-top: 40px;
    }

    .keno-tips-subtext {
        margin-bottom: 10px !important;
    }

    .keno-how-text {
        margin-bottom: 40px;
    }

    .Ahogy {
        padding-bottom: 40px;
    }

    .role-section {

        padding: 60px 0 60px;

    }

    .lizard-section .accordion-button {
        font-size: 16px;
    }

    .temp-font-size {
        font-size: 20px !important;
    }

    .keno-section {
        padding-top: 30px;
    }
}

@media screen and (max-width: 575px) {
    .logo {
        /* width: 100%; */
        max-width: 184px;
        /* height: 100%; */
        /* min-height: 68px; */
    }

    #menuToggle {

        font-size: 23px;

    }

    #sidebar ul li a {

        font-size: 16px;

    }

    #sidebar {

        width: 200px;

    }

    .typing-text {
        font-size: 2rem;
    }

    .banner-content p {
        font-size: 15px;
    }

    .footer_logo {
        width: 15.75rem;
    }

    .why-lucky-card {
        padding: 1rem;
    }

    .why-lucky-title {
        font-size: 1.1rem;
    }

    .why-lucky-text {
        font-size: 0.9rem;
    }

    .why-lucky-image {
        width: 60px;
        height: 60px;
    }

    .fullscreen-banner {
        height: 380px;
    }

    .brand-container a,
    .footer-logo a {

        height: 45px;

    }

    .menu-toggle-btn {

        width: 23px;

    }

    .banner-content {
        padding: 30px 0 0;
    }

    .typing-text {

        white-space: wrap;
        animation: none;
        border-right: none !important;

    }

    .typing-text {
        font-size: 22px !important;
        padding-bottom: 15px;

    }

    .keno-how-heading {

        font-size: 28px;
    }

    .review-card {
        max-width: 470px;
    }

    .carousel-control-next,
    .carousel-control-prev {

        top: 200px;

    }

    .carousel-control-next {
        right: 35%;
    }

    .carousel-control-prev {
        left: 35%;
    }

    .section-heading {
        font-size: 22px;
    }

    .why-lucky-heading {
        font-size: 22px;
    }

    .keno-how-heading {
        font-size: 22px;
    }

    .keno-how-section {
        padding: 60px 0;

    }

    .keno-tips-heading {
        font-size: 25px;
    }

    .reviews-heading {
        font-size: 25px;
    }

    .community-heading {
        font-size: 25px;
    }

    .footer_logo {
        width: 170px;
    }

    .footer_logo_box {
        padding-bottom: 0 !important;
    }

    .footer .footer-links a {

        font-size: 16px;

    }

    .disclaimer_txt h3 {
        font-size: 22px;

    }

    .follow_heading {
        font-size: 22px;
    }

    .ssl-certi-inner {
        height: 3rem;
        width: 130px;
    }

    .navigation-menu ul li a {

        font-size: 16px;
    }

    .social-links a {

        width: 35px;
        height: 35px;

    }

    .footer .footer-links {
        padding-top: 0;
    }

    .innerpage-banner {

        height: 40vh;

    }

    .innerpage-title {
        font-size: 24px;
    }

    .keno-tips-heading {
        font-size: 22px;
    }

    .join-community-modern .community-heading {
        color: #fff;
        font-weight: 600;
        font-size: 22px;
    }

    .accordion-section>.container {
        /* min-height: 450px; */
    }



    .footer-pages-content-grp h3 {
        font-size: 1.3rem;
    }

    .footer-pages-wrap {
        padding: 1.875rem 0.9375rem;
    }

    .keno-how-section {
        padding: 40px 0;
    }

    .keno-tips-section {
        padding: 40px 0;
    }

    .carousel-control-next,
    .carousel-control-prev {
        top: 230px;
    }

    .carousel-control-next {
        right: 30%;
    }

    .carousel-control-prev {
        left: 30%;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {

        width: 2rem;
        height: 2.5rem;
    }

    .keno-tips-section {
        padding: 30px 0;
    }

    .nem {
        padding-top: 30px;
    }

    .keno-tips-subtext {
        margin-bottom: 0px !important;
    }

    .keno-how-text {
        margin-bottom: 30px;
    }

    .Ahogy {
        padding-bottom: 30px;
    }

    .why-lucky-heading {

        margin-bottom: 1rem;


    }

    .keno-section {
        padding: 30px 0;
    }

    .contact-heading {
        font-size: 22px;
        margin-bottom: 10px !important;
    }

    .contact-item {
        font-size: 18px;
    }

    .contact-section {
        padding: 30px 0;
    }

    .temp-font-size {
        font-size: 18px !important;
    }

    .lizard-section {
        padding: 20px 0;
        /* min-height: 710px; */
        /* border-radius: 40px 40px 0 0; */
    }

    .review-card {

        padding: 2rem;
        min-height: 285px;
    }

    .footer-pages-wrap {
      
        margin-top: -2rem;
       
    }
    .modal-content .modal-title {
        font-size: 1.6rem !important;
    }
}

@media screen and (max-width: 480px) {
    #menuToggle {
        font-size: 20px;
    }

    .fullscreen-banner {
        height: auto;
        min-height: 400px;
    }

    .banner-content {
        padding: 60px 0 0;
    }

    .typing-text {
        font-size: 21px !important;
    }

    .review-card {
        max-width: 330px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        top: 220px;
    }

    .typing-text {
        font-size: 15px !important;
        padding-bottom: 0;
    }

    .banner-content p {
        font-size: 14px;
        margin: 10px 0;
    }

    .section-heading {
        font-size: 18px;
    }

    .why-lucky-heading {
        font-size: 18px;
    }

    .keno-how-heading {
        font-size: 21px;
    }

    .keno-tips-heading {
        font-size: 18px;
    }

    .reviews-heading {
        font-size: 20px;
    }

    .card {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .community-heading {
        font-size: 19px;
    }

    .community-text {
        font-size: 14px;
    }

    p {
        font-size: 14px !important;
    }

    .join-community-modern input {
        width: 100% !important;
        font-size: 14px;
        text-align: center;
    }

    .join-community-modern button {
        padding: 10px 28px !IMPORTANT;
        font-size: 14px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        top: 190px;
    }

    .social-links a {

        width: 30px;
        height: 30px;

    }

    .footer .footer-links {
        padding-top: 0;
    }

    .innerpage-banner {
        height: 30vh;
    }

    .innerpage-title {
        font-size: 20px;
        margin-top: 40px;
    }

    .keno-section {
        padding-top: 30px;
    }

    .footer-pages-content-grp h3 {
        font-size: 1.2rem;
    }

    .footer-pages-content-grp p {
        font-size: 1rem;
    }

    .footer-pages-content-grp strong {
        font-size: 1rem;
    }

    .carousel-control-next,
    .carousel-control-prev {
        top: 297px;
    }

    .carousel-control-next {
        right: 25%;
    }

    .carousel-control-prev {
        left: 25%;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-size: 100% 100%;
        width: 1.5rem;
        height: 2.5rem;
    }

    .keno-section {
        padding: 30px 0 20px;
    }

    .keno-tips-subtext {
        margin-bottom: 20px !important;
    }

    .keno-how-text {
        margin-bottom: 20px;
    }

    .Ahogy {
        padding-bottom: 30px;
    }

    .keno-tips-heading {
        font-size: 18px;
        margin-bottom: 30px !important;
    }

    .keno-how-heading {
        font-size: 21px;
        margin-bottom: 10px;
    }

    .role-section {
        padding: 40px 0 40px;
    }

    .keno-tips-subtext {
        margin-bottom: 20px !important;
        margin-top: 30px !important;
    }

    .keno-how-section {
        padding: 30px 0;
    }

    .lizard-section .accordion-button {
        font-size: 15px;
    }

    .reviews-section {

        padding: 30px 0;
    }

    .keno-feature-card {

        padding: 1rem 1.5rem;

    }

    .keno-section .row {

        margin-bottom: 20px !IMPORTANT;
    }

    .review-card {
        padding: 1rem;
        min-height: 280px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        top: 225px;
    }

    .typing-text {

        padding-top: 0px;
    }

    .section-table-para {

        margin-bottom: 0px !important;
    }
    .why-lucky-heading {
        margin-bottom: 25px;
    }
    
}